<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sitemap.css">
    <title>Sitemap</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>Tornado</li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/index">Home</a></li>
                <li> <a href="/api">Stock Fundamentals</a></li>
                <li> <a href="/news">Stock News</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="sitemap">
            <div class="section">Stock Dashboard</div>

            <div class="page"><a href="/index">Portfolio</a></div>


            <div class="section"></div>
            <div class="section">Stock News</a></div>

            <div class="page"> <a href="/news">Stock News</a></div>


            <div class="section">Stock Fundamentals</a></div>

            <div class="page"><a href="/api">Company Stock Charts</a></div>
            <div class="page"><a href="/api">Income Statements</a></div>
            <div class="page"><a href="/api">Balance Sheets</a></div>

        </div>
    </div>
</body>

</html>